@model IndoSpacePrac.Web.Models.Employee.EmployeeModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table id="table_id" class="display">
    <thead>
        <tr>
            <th>@Html.LabelFor(m => m.EName)</th>
            <th>@Html.LabelFor(m => m.Email)</th>
            <th>@Html.LabelFor(m => m.DepartmentName)</th>
            <th>@Html.LabelFor(m => m.ReportingManagerName)</th>

        </tr>
    </thead>
    <tbody>
       
    </tbody>
</table>

@Scripts.Render("~/Scripts/Custom/Index");